.footer{
  padding: 30px 0;
  background: $pink;
}

.footer-logo{
  min-height: 50px;
  max-height: 50px;
  width: auto;
  margin-bottom: 10px;
}

.bg-wrapper{
  min-height: 100vh;
}
.mt-50{
  margin-top: 50px;
}
.mt-30{margin-top: 30px;}



