// Color Variables
$green: #40b449 !default;
$dark-yellow: #E5BD3E !default;
$lite-yellow: #EFD433 !default;
$pink: #CA487B !default;
$input-bg: #f2d1de;
$dark-blue: #4F95A7 !default;
$blue: #6BC4DC !default;
$lite-blue: #81EDFC !default;
$bdr: #9d9d9d;
$green-hover: #3cb561;

@font-face {
  font-family: "Chewy";
  src: url(../fonts/Chewy-Regular.ttf);
}
@font-face {
  font-family: "Chinese Rocks Rg";
  src: url(../fonts/Chinese-Rocks-Regular.ttf);
}



